#!/bin/bash
set -euo pipefail
set -vx

# {{ include "private_dot_config/brew/Brewfile" | sha256sum }}
brew bundle check --file ~/.config/brew/Brewfile || brew bundle install --no-lock --file ~/.config/brew/Brewfile
