{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $name := "mystygage" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "1107406+mystygage@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $installmas := "yes" -}}
{{- if hasKey . "installmas" -}}
{{-   $installmas = .installmas -}}
{{- else if $interactive -}}
{{-   $installmas = promptString "Install App Store Apps" $installmas -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  installmas = {{ $installmas | quote }}
