#!/usr/bin/env bash

set -euo pipefail

{{ template "script_darwin_only" . }}
{{ template "script_eval_brew" . }}

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "1password/tap"
tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"

brew "asdf"
brew "bash"
brew "bat"
brew "chezmoi"
brew "exa"
brew "fzf"
brew "git"
brew "git-lfs"
brew "gitui"
brew "jump"
brew "mas"
brew "mkcert"
brew "neovim"
brew "openssh"
brew "yubikey-agent", restart_service: true
brew "zsh"

cask "1password"
cask "1password-cli"
cask "alacritty"
cask "alfred"
cask "docker"
cask "elgato-stream-deck"
cask "flameshot"
cask "geotag-photos-pro"
cask "google-chrome"
cask "lens"
cask "microsoft-teams"
cask "monitor-control"
cask "obsidian"
cask "visual-studio-code"
cask "yubico-yubikey-manager"
cask "zoom"

EOF
